**************************************
*                                    *
* DRILL TAPE SUMMARY REPORT          *
*                                    *
* V:\DEV\A005\CAD\XMP-64A_1-1_9.MAX  *
* Fri Feb 26 12:18:15 2010           *
*                                    *
**************************************

TOOL     SIZE     QUANTITY FEED     SPEED    
---------------------------------------------
T1       98       6116     200      100                                                                                 
T2       157      121      200      100                                                                                 
T3       314      4        200      100                                                                                 
T4       354      3        200      100                                                                                 
T5       394      33       200      100                                                                                 
T6       450      6        200      100                                                                                 
T7       472      155      200      100                                                                                 
T8       551      13       200      100                                                                                 
T9       591      2        200      100                                                                                 
T10      669      4        200      100                                                                                 
T11      1260     4        200      100                                                                                 
T12      1279     4        200      100                                                                                 
